header{
    display: flex;
    background-color: black;
    color: rgb(255, 255, 255);
}
#div_group{
    margin-left: 25%;
    width: 50%;
    height: 15%;
    display:flex;
    background-color: rgb(105, 105, 105);
}