/*Declaracion de variables*/
:root {
  --color-negro: #000000;
  --color-gris: #707070;
}

body {
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*Encabezado de la pagina web*/
header {
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  background-color: black;
  color: rgb(255, 255, 255);
}
#page_title {
  font-size: 3em;
  font-weight: bold;
  width: 30%;
  height: 15%;
  text-align: center;
}

#options {
  margin-left: 10%;
  white-space: nowrap;
  width: 50%;
  height: 15%;
  display: flex;
}
.item {
  list-style: none;
  margin-top: 2%;
}
#a_user {
  margin-left: 10%;
}
/*-----A-----*/
.custom_a {
  outline: none;
  text-decoration: none;
  padding: 2em 1em 2.4em 1em;
}
.custom_a:link {
  color: white;
}
.custom_a:visited {
  color: white;
  background: #00b1b1;
}
.custom_a:hover {
  border-bottom: 4px solid;
  color: turquoise;
}
.custom_a:focus {
  border-bottom: 4px solid;
  color: turquoise;
}
.custom_a:active {
  background: rgb(0, 22, 20);
  color: turquoise;
}

/*----SECTION----*/

/*----FILTER----*/
#section-title {
  text-align: center;
}
#catalogo {
  display: flex;
  justify-content: center;
}
.filtro {
  border: 1px solid var(--color-gris);
  padding: 1% 5%;
}
