/*Declaracion de variables*/
:root {
  --color-negro: #000000;
  --color-gris: #707070;
  --color-turq: rgb(0, 188, 202);
}
/*-----RESOLUTION > 900px-----*/ /*FUNCIONAL*/
@media (min-width: 900px) {
  /*-----BODY->-----*/
  body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  /*-----<-BODY-----*/
  /*-----HEADER->-----*/
  .header {
    background: black;
    color: rgb(255, 255, 255);
  }
  .header a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
  }
  .title {
    font-size: 3em;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 0.5em;
  }
  .title-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .navigation ul li {
    display: inline-block;
  }
  .navigation ul li a {
    display: block;
    transition: all 0.3s;
    padding: 2em 1em 2.5em;
    border-bottom: 4px solid black;
  }
  .navigation ul li #user {
    margin-right: 0.5em;
    margin-left: 2em;
  }
  .navigation ul li a:hover {
    background: rgb(0, 15, 15);
    color: rgb(0, 188, 202);
    border-bottom: 4px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  /*Revisar el focus si está funcionando correctamente*/
  .navigation ul li a:focus {
    color: rgb(0, 188, 202);
    border-bottom: 4px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /*-----<-HEADER-----*/

  /*-----MAIN->----*/
  .main {
    background: rgb(235, 235, 235);
    margin: 2em 3em auto;
    padding-bottom: 1em;
  }
  .main-title {
    text-align: center;
    padding: 2em;
  }
  /*-----FILTER->----*/
  #section-title {
    text-align: center;
  }
  #catalogo {
    display: flex;
    justify-content: center;
  }
  .filtro {
    border: 1px solid var(--color-gris);
    padding: 1% 2%;
  }
  .filtro label {
    text-transform: uppercase;
    font-weight: 600;
  }
  .filtro.inicio {
    color: turquoise;
    text-transform: uppercase;
    font-weight: 600;
  }
  .filtro.select {
    background: inherit;
    border: 1px solid var(--color-gris);
  }

  /*---TABLA DE CONTENIDO---*/
  .table-filtro {
    margin: 0;
    width: 90%;
    border-collapse: collapse;
  }
  .table-filtro th {
    width: 15%;
    padding: 8px 0;
    border: 2px solid var(--color-gris);
    text-transform: uppercase;
  }
  .table-filtro td {
    padding: 8px 0;
    border: 2px solid var(--color-gris);
    align-items: center;
    text-align: center;
  }
  .tf-filtrar {
    color: var(--color-turq);
  }
  .tf-select {
    width: 70%;
    text-align: center;
  }

  /*-----<-FILTRO-----*/
  /*-----CATALOGO VEHICULOS->-----*/
  .card {
    width: 225px;
    height: 260px;
    border: 3px solid black;
    margin: 50px;
  }
  .card-header {
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
  }
  .card-header * {
    margin: 0;
  }
  .card-header p {
    font-style: italic;
    font-size: 0.9em;
  }
  .card-body * {
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }
  .card-body-item {
    background: #ffffff;
    width: 70%;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .card-body-alquilar {
    background: var(--color-turq);
    color: #ffffff;
    width: 40%;
    padding: 5px 10px;
    margin: auto;
    margin-top: 15px;
    border: none;
  }
  .card-body-alquilar:hover {
    cursor: pointer;
    background: rgb(3, 253, 228);
  }
}
