/*-----RESOLUTION < 900px-----*//*FUNCIONAL*/
@media (max-width:900px) {
    /*-----BODY->-----*/
    body{
        margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    /*-----<-BODY-----*/
    /*-----HEADER->-----*/
    .header{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    .header a{
        text-decoration: none;
        color: white;
        white-space: nowrap;
    }
    .title{
        font-size: 3em;
        font-weight: bold;
        padding-left: 1.5em;
        padding-right: 0.5em;
    }
    .title-nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation ul li{
        display: inline-block;
    }
    .navigation ul li a{
        display: block;
        transition: all 0.3s;
        padding: 1rem;
        padding-top: 2em;
        padding-bottom: 2.5em;
        border-bottom: 4px solid black;
    }
    .navigation ul li #user{
        margin-right: 1em;
        margin-left: 2.0em;
    }
    .navigation ul li a:hover{
        background-color: rgb(0, 15, 15);
        color: rgb(0, 188, 202);
        border-bottom: 4px solid;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        /*border-radius: 20px;*/
    }
    .navigation ul li a:focus{
        color: rgb(0, 188, 202);
        border-bottom: 4px solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*-----<-HEADER-----*/
}
/*-----RESOLUTION > 900px-----*//*FUNCIONAL*/
@media (min-width:900px) {
    /*-----BODY->-----*/
    body{
        margin: 0;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-height: 100vh;
    }
    /*-----<-BODY-----*/
    /*-----HEADER->-----*/
    .header{
        background-color: black;
        color: rgb(255, 255, 255);
    }
    .header a{
        text-decoration: none;
        color: white;
        white-space: nowrap;
    }
    .title{
        font-size: 3em;
        font-weight: bold;
        padding-left: 1.0em;
        padding-right: 0.5em;
    }
    .title-nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .navigation ul li{
        display: inline-block;
    }
    .navigation ul li a{
        display: block;
        transition: all 0.3s;
        padding: 1rem;
        padding-top: 2em;
        padding-bottom: 2.5em;
        border-bottom: 4px solid black;
    }
    .navigation ul li #user{
        margin-right: 0.5em;
        margin-left: 2em;
    }
    .navigation ul li a:hover{
        background-color: rgb(0, 15, 15);
        color: rgb(0, 188, 202);
        border-bottom: 4px solid;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        /*border-radius: 20px;*/
    }
    .navigation ul li a:focus{
        color: rgb(0, 188, 202);
        border-bottom: 4px solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    /*-----<-HEADER-----*/
    /*-----MAIN->-----*/
    .main{
        background-color: rgb(235, 235, 235);
        margin: 0 auto;
        margin-top: 2em;
        margin-left: 3em;
        margin-right: 3em;
        padding-bottom: 1em;
    }
    /*-----MAIN-TITLE->-----*/
    .main .main-title{
        text-align: center;
        margin: 0;
        padding: 2em;
    }
    /*-----<-MAIN-TITLE-----*/
    /*-----MAIN-CONTAINER->-----*/
    .main .container{
        background-color: white;
        margin: 1.5em;
        margin-top: 0;
        margin-bottom: 1em;
        padding-bottom: 2em;
    }
    /*-----<-MAIN-CONTAINER-----*/
    /*-----FIND->-----*/
    .main .container .find{
        margin: 0 auto;
        padding: 0;
        padding-top: 1em;
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    .main .container .find .find-input{
        display: flex;
        width: 95%;
    }
    .main .container .find label{
        font-weight: 600;
    }
    .main .container .find input[type="text"]{
        margin: 0;
        margin-left: 0.5em;
        width: 90%;
        height: 1.5em;
        font-size: 1em;
    }
    .main .container .find input[type="submit"]{
        margin: 0;
        padding: 0.5em;
        width: 6em;
        transition: all 0.3s;
        color: white;
        background-color: rgb(0, 188, 202);
        border: 2px solid rgb(0, 138, 148);
    }
    .main .container .find input[type="submit"]:hover{
        background-color: rgb(0, 148, 158);
    }
    .main .container .find input[type="submit"]:active{
        background-color: rgb(0, 100, 158);
        color: cyan;
    }
    /*-----<-FIND-----*/
    /*-----TABLE->-----*/
    .main .container .table{
        margin: 0 auto;
        margin-top: 2em;
        width: 95%;
        border-collapse: collapse;
        border: 1px solid gray;
    }
    .main .container .table th{
        border: 1px solid gray;

    }
    .main .container .table td{
        border-right: 1px solid gray;
        text-align: center;
        padding-top: 1em;
        padding-bottom: 0.3em;
    }
    .main .container .table td a{
        text-decoration: none;
        color: rgb(0, 188, 202);
    }
    
    .main .container .table td a:hover{
        color: rgb(0, 37, 139);
    }
    
    .main .container .table td a:focus{
        color: rgb(0, 158, 250);
    }
    /*-----<-TABLE-----*/
    /*-----<-MAIN-----*/
    /*-----FOOTER->-----*/
    .footer{
        background-color: black;
        position:relative;
        margin-top: 2em;
        width: 100%;
        height: 5em;
        align-items: center;
        display: flex;
    }
    .footer .line{
        width: 1px;
        height: 4em;
        border-right: 1px solid gray;
        margin-left: 8%;
        margin-right: 8%;
    }
    .footer .container{
        padding: 0;
        text-align: center;
        display: block;
        /*white-space: nowrap;*/
        color: gray;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 33%;
    }
    .footer .direction{
        padding-left: 8%;
    }
    .footer .team{
        padding-right: 8%;
    }
    /*-----<-FOOTER-----*/
}